<p id="notice"><%= notice %></p>

<p>
  <strong>Category product:</strong>
  <%= @lensa.category_product_id %>
</p>

<p>
  <strong>Merk lensa:</strong>
  <%= @lensa.merk_lensa_id %>
</p>

<p>
  <strong>Availability product:</strong>
  <%= @lensa.availability_product_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lensa.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @lensa.slug %>
</p>

<p>
  <strong>Lensa description:</strong>
  <%= @lensa.lensa_description %>
</p>

<p>
  <strong>Lensa kelengkapan:</strong>
  <%= @lensa.lensa_kelengkapan %>
</p>

<p>
  <strong>Price:</strong>
  <%= @lensa.price %>
</p>

<p>
  <strong>Review video:</strong>
  <%= @lensa.review_video %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @lensa.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @lensa.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @lensa.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @lensa.image4 %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @lensa.image5 %>
</p>

<%= link_to 'Edit', edit_lensa_path(@lensa) %> |
<%= link_to 'Back', lensas_path %>
