<p id="notice"><%= notice %></p>

<p>
  <strong>Category product:</strong>
  <%= @peralatan.category_product_id %>
</p>

<p>
  <strong>Availability product:</strong>
  <%= @peralatan.availability_product_id %>
</p>

<p>
  <strong>Aksesori:</strong>
  <%= @peralatan.aksesori_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @peralatan.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @peralatan.slug %>
</p>

<p>
  <strong>Peralatan description:</strong>
  <%= @peralatan.peralatan_description %>
</p>

<p>
  <strong>Peralatan kelengkapan:</strong>
  <%= @peralatan.peralatan_kelengkapan %>
</p>

<p>
  <strong>Price:</strong>
  <%= @peralatan.price %>
</p>

<p>
  <strong>Review video:</strong>
  <%= @peralatan.review_video %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @peralatan.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @peralatan.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @peralatan.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @peralatan.image4 %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @peralatan.image5 %>
</p>

<%= link_to 'Edit', edit_peralatan_path(@peralatan) %> |
<%= link_to 'Back', peralatans_path %>
