<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @aksesori.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @aksesori.slug %>
</p>

<%= link_to 'Edit', edit_aksesori_path(@aksesori) %> |
<%= link_to 'Back', aksesoris_path %>
