<p id="notice"><%= notice %></p>

<p>
  <strong>Id client:</strong>
  <%= @client.id_client %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @client.client_name %>
</p>

<p>
  <strong>Alamat rumah:</strong>
  <%= @client.alamat_rumah %>
</p>

<p>
  <strong>Alamat kantor:</strong>
  <%= @client.alamat_kantor %>
</p>

<p>
  <strong>No hp:</strong>
  <%= @client.no_hp %>
</p>

<p>
  <strong>Id line:</strong>
  <%= @client.id_line %>
</p>

<p>
  <strong>Id ig:</strong>
  <%= @client.id_ig %>
</p>

<p>
  <strong>Id fb:</strong>
  <%= @client.id_fb %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Kampus:</strong>
  <%= @client.kampus %>
</p>

<p>
  <strong>Upload ktp:</strong>
  <%= @client.upload_ktp %>
</p>

<p>
  <strong>Upload kk:</strong>
  <%= @client.upload_kk %>
</p>

<p>
  <strong>Upload identitas:</strong>
  <%= @client.upload_identitas %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @client.slug %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
