<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        <%= @client.client_name %>
                                    </h5>
                                    <h6>
                                        <%= @client.id_client %>
                                    </h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Alamat Rumah</p>
                            <%= @client.alamat_rumah %>
                            <p>Alamat Kantor</p>
                            <%= @client.alamat_kantor %>
                            <p>Kampus</p>
                            <%= @client.kampus %>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Username</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @client.slug %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @client.client_name %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @client.email %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @client.no_hp %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Id Line</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @client.id_line %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Id Instagram</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @client.id_ig %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Id Facebook</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @client.id_fb %></p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Id client:</strong>
  <%= @client.id_client %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @client.client_name %>
</p>

<p>
  <strong>Alamat rumah:</strong>
  <%= @client.alamat_rumah %>
</p>

<p>
  <strong>Alamat kantor:</strong>
  <%= @client.alamat_kantor %>
</p>

<p>
  <strong>No hp:</strong>
  <%= @client.no_hp %>
</p>

<p>
  <strong>Id line:</strong>
  <%= @client.id_line %>
</p>

<p>
  <strong>Id ig:</strong>
  <%= @client.id_ig %>
</p>

<p>
  <strong>Id fb:</strong>
  <%= @client.id_fb %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Kampus:</strong>
  <%= @client.kampus %>
</p>

<p>
  <strong>Upload ktp:</strong>
  <%= @client.upload_ktp %>
</p>

<p>
  <strong>Upload kk:</strong>
  <%= @client.upload_kk %>
</p>

<p>
  <strong>Upload identitas:</strong>
  <%= @client.upload_identitas %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @client.slug %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
--> 
