<p id="notice"><%= notice %></p>

<h1>Merk Lensas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merk_lensas.each do |merk_lensa| %>
      <tr>
        <td><%= merk_lensa.name %></td>
        <td><%= merk_lensa.slug %></td>
        <td><%= link_to 'Show', merk_lensa %></td>
        <td><%= link_to 'Edit', edit_merk_lensa_path(merk_lensa) %></td>
        <td><%= link_to 'Destroy', merk_lensa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merk Lensa', new_merk_lensa_path %>
