<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merk_lensa.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @merk_lensa.slug %>
</p>

<%= link_to 'Edit', edit_merk_lensa_path(@merk_lensa) %> |
<%= link_to 'Back', merk_lensas_path %>
