<%= form_with(model: availability_product, local: true) do |form| %>
  <% if availability_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(availability_product.errors.count, "error") %> prohibited this availability_product from being saved:</h2>

      <ul>
      <% availability_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :availability_product_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
