<%= form_with(model: merk_camera, local: true) do |form| %>
  <% if merk_camera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(merk_camera.errors.count, "error") %> prohibited this merk_camera from being saved:</h2>

      <ul>
      <% merk_camera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :merk_camera_name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :merk_camera_slug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
