<p id="notice"><%= notice %></p>

<h1>Merk Cameras</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merk_cameras.each do |merk_camera| %>
      <tr>
        <td><%= merk_camera.name %></td>
        <td><%= merk_camera.slug %></td>
        <td><%= link_to 'Show', merk_camera %></td>
        <td><%= link_to 'Edit', edit_merk_camera_path(merk_camera) %></td>
        <td><%= link_to 'Destroy', merk_camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Merk Camera', new_merk_camera_path %>
