<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merk_camera.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @merk_camera.slug %>
</p>

<%= link_to 'Edit', edit_merk_camera_path(@merk_camera) %> |
<%= link_to 'Back', merk_cameras_path %>
