<p id="notice"><%= notice %></p>

<p>
  <strong>Category product:</strong>
  <%= @camera.category_product_id %>
</p>

<p>
  <strong>Type camera:</strong>
  <%= @camera.type_camera_id %>
</p>

<p>
  <strong>Merk camera:</strong>
  <%= @camera.merk_camera_id %>
</p>

<p>
  <strong>Availability product:</strong>
  <%= @camera.availability_product_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @camera.name %>
</p>

<p>
  <strong>Camera description:</strong>
  <%= @camera.camera_description %>
</p>

<p>
  <strong>Camera kelengkapan:</strong>
  <%= @camera.camera_kelengkapan %>
</p>

<p>
  <strong>Price:</strong>
  <%= @camera.price %>
</p>

<p>
  <strong>Review video:</strong>
  <%= @camera.review_video %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @camera.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @camera.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @camera.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @camera.image4 %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @camera.image5 %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @camera.slug %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
