 <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6 hover08">
            <%= link_to image_tag('portfolio1.jpg', class: 'img-fluid img-portfolio', style: 'height: 300px; width: 460px;'), image_path('portfolio1.jpg') , class: 'portfolio-box' %>
          </div>
          <div class="col-lg-4 col-sm-6 hover08">
            <%= link_to image_tag('portfolio2.jpg', class: 'img-fluid img-portfolio', style: 'height: 300px; width: 460px;' ), image_path('portfolio2.jpg') , class: 'portfolio-box' %>
          </div>
          <div class="col-lg-4 col-sm-6 hover08">
            <%= link_to image_tag('portfolio3.jpeg', class: 'img-fluid img-portfolio', style: 'height: 300px; width: 460px;' ), image_path('portfolio3.jpeg') , class: 'portfolio-box' %>
          </div>
          <div class="col-lg-4 col-sm-6 hover08">
            <%= link_to image_tag('portfolio4.jpeg', class: 'img-fluid img-portfolio', style: 'height: 300px; width: 460px;' ), image_path('portfolio4.jpeg') , class: 'portfolio-box' %>
          </div>
          <div class="col-lg-4 col-sm-6 hover08">
            <%= link_to image_tag('portfolio5.jpeg', class: 'img-fluid img-portfolio', style: 'height: 300px; width: 460px;' ), image_path('portfolio5.jpeg') , class: 'portfolio-box' %>
          </div>
          <div class="col-lg-4 col-sm-6 hover08">
            <%= link_to image_tag('portfolio6.jpeg', class: 'img-fluid img-portfolio', style: 'height: 300px; width: 460px;' ), image_path('portfolio6.jpeg') , class: 'portfolio-box' %>
          </div>
        </div>
      </div>
    </section>
