<p id="notice"><%= notice %></p>

<p>
  <strong>Category product:</strong>
  <%= @product.category_product_id %>
</p>

<p>
  <strong>Brand product:</strong>
  <%= @product.brand_product_id %>
</p>

<p>
  <strong>Availability product:</strong>
  <%= @product.availability_product %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Kelengkapan:</strong>
  <%= @product.kelengkapan %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Review video:</strong>
  <%= @product.review_video %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @product.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @product.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @product.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @product.image4 %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @product.image5 %>
</p>

<p>
  <strong>Image6:</strong>
  <%= @product.image6 %>
</p>

<p>
  <strong>Image7:</strong>
  <%= @product.image7 %>
</p>

<p>
  <strong>Image8:</strong>
  <%= @product.image8 %>
</p>

<p>
  <strong>Image9:</strong>
  <%= @product.image9 %>
</p>

<p>
  <strong>Image10:</strong>
  <%= @product.image10 %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
