<p id="notice"><%= notice %></p>

<h1>Brand Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brand_products.each do |brand_product| %>
      <tr>
        <td><%= brand_product.name %></td>
        <td><%= link_to 'Show', brand_product %></td>
        <td><%= link_to 'Edit', edit_brand_product_path(brand_product) %></td>
        <td><%= link_to 'Destroy', brand_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brand Product', new_brand_product_path %>
