<%= form_with(model: accessory, local: true) do |form| %>
  <% if accessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accessory.errors.count, "error") %> prohibited this accessory from being saved:</h2>

      <ul>
      <% accessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_product_id %>
    <%= form.number_field :category_product_id, id: :accessory_category_product_id %>
  </div>

  <div class="field">
    <%= form.label :availability_product_id %>
    <%= form.number_field :availability_product_id, id: :accessory_availability_product_id %>
  </div>

  <div class="field">
    <%= form.label :aksesori_id %>
    <%= form.number_field :aksesori_id, id: :accessory_aksesori_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :accessory_name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :accessory_slug %>
  </div>

  <div class="field">
    <%= form.label :accessorie_description %>
    <%= form.text_area :accessorie_description, id: :accessory_accessorie_description %>
  </div>

  <div class="field">
    <%= form.label :accessorie_kelengkapan %>
    <%= form.text_area :accessorie_kelengkapan, id: :accessory_accessorie_kelengkapan %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :accessory_price %>
  </div>

  <div class="field">
    <%= form.label :review_video %>
    <%= form.text_field :review_video, id: :accessory_review_video %>
  </div>

  <div class="field">
    <%= form.label :image1 %>
    <%= form.text_field :image1, id: :accessory_image1 %>
  </div>

  <div class="field">
    <%= form.label :image2 %>
    <%= form.text_field :image2, id: :accessory_image2 %>
  </div>

  <div class="field">
    <%= form.label :image3 %>
    <%= form.text_field :image3, id: :accessory_image3 %>
  </div>

  <div class="field">
    <%= form.label :image4 %>
    <%= form.text_field :image4, id: :accessory_image4 %>
  </div>

  <div class="field">
    <%= form.label :image5 %>
    <%= form.text_field :image5, id: :accessory_image5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
