<p id="notice"><%= notice %></p>

<p>
  <strong>Category product:</strong>
  <%= @accessory.category_product_id %>
</p>

<p>
  <strong>Availability product:</strong>
  <%= @accessory.availability_product_id %>
</p>

<p>
  <strong>Aksesori:</strong>
  <%= @accessory.aksesori_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @accessory.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @accessory.slug %>
</p>

<p>
  <strong>Accessorie description:</strong>
  <%= @accessory.accessorie_description %>
</p>

<p>
  <strong>Accessorie kelengkapan:</strong>
  <%= @accessory.accessorie_kelengkapan %>
</p>

<p>
  <strong>Price:</strong>
  <%= @accessory.price %>
</p>

<p>
  <strong>Review video:</strong>
  <%= @accessory.review_video %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @accessory.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @accessory.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @accessory.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @accessory.image4 %>
</p>

<p>
  <strong>Image5:</strong>
  <%= @accessory.image5 %>
</p>

<%= link_to 'Edit', edit_accessory_path(@accessory) %> |
<%= link_to 'Back', accessories_path %>
