<%= render 'site/navbar-all' %>
<!-- Page Content -->
    <div class="container">

      <div class="row m-t-70 m-b-70">

        <div class="col-lg-3 catprod">

          <h3 class="my-4"><%= @category_product.name %></h3>
          <div class="list-group">
            <% if @category_product.id == 1 %>
                <% TypeCamera.all.each do |type_camera| %>
                    <%= link_to type_camera.name, category_product_path(:type_camera_id => type_camera.id), class: 'list-group-item', method: :get %>
                <% end %>
            <% elsif @category_product.id == 2 %>
                <% MerkLensa.all.each do |merk_lensa| %>
                    <%= link_to merk_lensa.name, category_product_path(:merk_lensa_id => merk_lensa.id), class: 'list-group-item', method: :get %>
                <% end %>
            <% else %>
                <% Aksesori.all.each do |aksesori| %>
                    <%= link_to aksesori.name, category_product_path(:aksesori_id => aksesori.id), class: 'list-group-item', method: :get %>
                <% end %>
            <% end %>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div class="row m-t-80 m-b-80">
          <% if @category_product.id == 1 %>
            <% @cameras.each do |camera| %>
              <div class="col-lg-4 col-md-6 mb-4 card-product">
                <div class="card shadow mb-5 bg-white rounded ">
                  <%= link_to image_tag(camera.image1, alt: camera.name, class: 'card-img-top'), camera_path(camera), class: "p-l-20 p-r-20 p-b-20 p-t-20" %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= link_to camera.name, camera_path(camera) %>
                    </h5>
                    <h6>Rp. <%= camera.price %>,-</h6>
                    <%= link_to 'Lihat detail', camera_path(camera), class: "btn btn-grab-it"%>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><%= camera.availability_product.name %></small>
                  </div>
                </div>
              </div>
            <% end %>
            <%= will_paginate @cameras, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

        <% elsif @category_product.id == 2 %>
            <% @lensas.each do |lensa| %>
              <div class="col-lg-4 col-md-6 mb-4 card-product">
                <div class="card shadow mb-5 bg-white rounded ">
                  <%= link_to image_tag(lensa.image1, alt: lensa.name, class: 'card-img-top'), lensa_path(lensa), class: "p-l-20 p-r-20 p-b-20 p-t-20" %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= link_to lensa.name, lensa_path(lensa) %>
                    </h5>
                    <h6>Rp. <%= lensa.price %>,-</h6>
                    <%= link_to 'Lihat detail', lensa_path(lensa), class: "btn btn-grab-it"%>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><%= lensa.availability_product.name %></small>
                  </div>
                </div>
              </div>
            <% end %>
            <%= will_paginate @lensas, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

        <% elsif @category_product.id == 3 %>
            <% @peralatans.each do |peralatan| %>
              <div class="col-lg-4 col-md-6 mb-4 card-product">
                <div class="card shadow mb-5 bg-white rounded ">
                  <%= link_to image_tag(peralatan.image1, alt: peralatan.name, class: 'card-img-top'), peralatan_path(peralatan), class: "p-l-20 p-r-20 p-b-20 p-t-20" %>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= link_to peralatan.name, peralatan_path(peralatan) %>
                    </h5>
                    <h6>Rp. <%= peralatan.price %>,-</h6>
                    <%= link_to 'Lihat detail', peralatan_path(peralatan), class: "btn btn-grab-it"%>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><%= peralatan.availability_product.name %></small>
                  </div>
                </div>
              </div>
            <% end %>

            <%= will_paginate @peralatans, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        <% end %>
        
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
            
        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
<%= render 'site/contact'%>

<script>
(function ($) {
    "use strict"; // Start of use strict

    // Smooth scrolling using jQuery easing
    $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: (target.offset().top - 56)
                }, 1000, "easeInOutExpo");
                return false;
            }
        }
    });

    // Closes responsive menu when a scroll trigger link is clicked
    $('.js-scroll-trigger').click(function () {
        $('.navbar-collapse').collapse('hide');
    });

    // Activate scrollspy to add active class to navbar items on scroll
    $('body').scrollspy({
        target: '#mainNavall',
        offset: 57
    });

    // Collapse Navbar
    var navbarCollapse = function () {
        var mainNavall = $('#mainNavall');
        if (mainNavall.length) {
            if ($("#mainNavall").offset().top > 100) {
                $("#mainNavall").addClass("navbar-shrink");
            } else {
                $("#mainNavall").removeClass("navbar-shrink");
            }
        }
    };
    // Collapse now if page is not at top
    navbarCollapse();
    // Collapse the navbar when page is scrolled
    $(window).scroll(navbarCollapse);

    // Scroll reveal calls
    window.sr = ScrollReveal();

    sr.reveal('.sr-icon-1', {
        delay: 200,
        scale: 0
    });
    sr.reveal('.sr-icon-2', {
        delay: 400,
        scale: 0
    });
    sr.reveal('.sr-icon-3', {
        delay: 600,
        scale: 0
    });
    sr.reveal('.sr-icon-4', {
        delay: 800,
        scale: 0
    });
    sr.reveal('.sr-button', {
        delay: 200,
        distance: '15px',
        origin: 'bottom',
        scale: 0.8
    });
    sr.reveal('.sr-contact-1', {
        delay: 200,
        scale: 0
    });
    sr.reveal('.sr-contact-2', {
        delay: 400,
        scale: 0
    });

    // Magnific popup calls
    $('.popup-gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0, 1]
        },
        image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
        }
    });

})(jQuery); // End of use strict

</script>

<script>
$(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    items: 2,
    nav: true,
    autoplayTimeout:3000,
    autoplayHoverPause:true,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:2,
            nav:false
        },
        1000:{
            items:3,
            nav:true
        }
    }
})
});
</script>


<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category_product.name %>
</p>

<%= link_to 'Edit', edit_category_product_path(@category_product) %> |
<%= link_to 'Back', category_products_path %> -->
